# App Config
APP_NAME=backend-boilderplate
APP_PORT=3000
APP_MODE=DEV
APP_PREFIX=

# Database setup
MONGO_URL=
MONGO_HOST=
MONGO_PORT=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DB=

#JWT
JWT_SECRET=
JWT_EXPIRE=

#TELEGRAM
TELEGRAM_BOT_TOKEN=